/* ==========================================================
                    LUXURY WOOL
                 RESPONSIVE CSS
========================================================== */


/* ==========================================================
                    TABLETS
                    Hasta 900px
========================================================== */


@media (max-width: 900px) {


    .site-header {

        padding: 0 25px;

    }



    .header__logo {

        font-size: 15px;

        letter-spacing: 5px;

    }



    .header__search input {

        width: 120px;

    }



    .header__cart,
    .header__login {

        font-size: 10px;

    }



    .side-menu {

        width: 300px;

    }


}





/* ==========================================================
                    CELULARES
                    Hasta 600px
========================================================== */


@media (max-width:600px) {



    .site-header {

        height: 75px;

        padding: 0 15px;

    }





    .header__menu {

        font-size: 22px;

    }





    .header__logo {

        position: static;

        transform: none;

        margin-left: 15px;

        font-size: 11px;

        letter-spacing: 3px;

        white-space: nowrap;

    }





    .header__actions {

        gap: 6px;

    }





    .header__search input {


        width: 75px;

        font-size: 9px;

        letter-spacing: 2px;


    }





    .header__cart,
    .header__login {


        font-size: 8px;

        letter-spacing: 1px;


    }





    .hero__image img {


        object-position: center;


    }





    .hero__contact {


        bottom: 20px;

        left: 15px;


    }





    .hero__contact a {


        font-size: 9px;

        letter-spacing: 2px;


    }





    .side-menu {


        width: 85%;


    }



}